---
import BaseLayout from '@/layouts/BaseLayout.astro';
import HeaderWithDropdown from '@/components/layout/HeaderWithDropdown.astro';
import Footer from '@/components/layout/Footer.astro';
import PixformanceLogo from '@/components/PixformanceLogo.astro';
---

<BaseLayout title="Impressum | Pixformance Sports GmbH" noindex={true}>
  <HeaderWithDropdown slot="header" position="sticky">
    <PixformanceLogo slot="logo" />
  </HeaderWithDropdown>

  <section class="py-24">
    <div class="container max-w-5xl">
      <h1 class="font-display text-5xl font-bold mb-12">Impressum</h1>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-12 prose prose-lg max-w-none">
        <div>
          <h2 class="font-display text-2xl font-bold mb-4">Hauptniederlassung</h2>
          <p>
            Pixformance Sports GmbH<br>
            Hauptstraße 19–20<br>
            14624 Dallgow-Döberitz
          </p>
        </div>

        <div>
          <h2 class="font-display text-2xl font-bold mb-4">Niederlassung Berlin</h2>
          <p>
            Helmholtzstraße 2–9<br>
            GSG Hof/Aufgang H<br>
            10587 Berlin<br>
            T +49 (0)30 39 80 56 10<br>
            F +49 (0)30 39 80 56 129<br>
            M <a href="mailto:contact@pixformance.com">contact@pixformance.com</a>
          </p>
        </div>

        <div>
          <h2 class="font-display text-2xl font-bold mb-4">Allgemein</h2>
          <p>
            Geschäftsführerin/Inhaberin:<br>
            Valerie Bures‑Bönström<br>
            Amtsgericht: Amtsgericht Potsdam<br>
            Handelsregister: HRB 26981 P<br>
            VAT NR.: DE287614422
          </p>
        </div>
      </div>
    </div>
  </section>

  <Footer slot="footer" />
</BaseLayout>
